.git
.github
.idea
spec
**/src
config
*.iml
*.log
**/target/*
!access-service/target/*.jar
!text-detect-service/target/*.jar
!image-detect-service/target/*.jar
!audio-detect-service/target/*.jar
!video-detect-service/target/*.jar
!admin-service/target/*.jar
